certifi
pyOpenSSL
python-certifi-win32
 
 
langchain-groq
 
python-dotenv
 
langchain_openai
 
langchain_ollama
 
 
langchain-community
langchain-text-splitters
langchain-chroma
chromadb
langgraph
ollama
 
langgraph-checkpoint-sqlite
 
streamlit